os: linux
jobs:
  include:
    - language: node_js
      node_js:
        - lts/*
      cache:
        directories:
          - node_modules
      script:
        cd client
        npm install
        npm run build
    - language: python
      env:
        - mongoURI=$mongoURI
      python:
      - "3.9"
      install:
        pip install -r requirements.txt
      script:
      - pytest