os: linux
jobs:
  include:
    - stage: Test
      language: node_js
      node_js:
        - lts/*
      cache:
        directories:
          - node_modules
      script:
        - cd client
        - npm install
        - npm run build
    - stage: Test
      language: python
      env:
        - mongoURI=$mongoURI
      python:
        - "3.9"
      install: pip install -r requirements.txt
      script:
        - pytest
    - stage: Deploy
      script: skip
      deploy:
        provider: script
        skip_cleanup: false
        script: ssh -o "StrictHostKeyChecking no" $ssh_server $ssh_command
        on:
          branch: main

before_install:
  - openssl aes-256-cbc -K $encrypted_2fc69c4133c3_key -iv $encrypted_2fc69c4133c3_iv
    -in id_rsa.enc -out /tmp/deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 /tmp/deploy_rsa
  - ssh-add /tmp/deploy_rsa
